<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{rh-dashboard/layout}">
<head>
    <title>Modifier Congé</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <h1>Modifier Congé</h1>
        <form th:action="@{/conges/edit/{id}(id=${conge.id})}" th:object="${conge}" method="post">
            <div class="mb-3">
                <label for="dateDebut" class="form-label">Date Début</label>
                <input type="date" id="dateDebut" th:field="*{dateDebut}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="dateFin" class="form-label">Date Fin</label>
                <input type="date" id="dateFin" th:field="*{dateFin}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="motif" class="form-label">Motif</label>
                <input type="text" id="motif" th:field="*{motif}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select id="status" th:field="*{status}" class="form-control" required>
                    <option value="En cours">En cours</option>
                    <option value="Approuver" th:selected="*{status == 'Approuver'}">Approuver</option>
                    <option value="Rejeter" th:selected="*{status == 'Rejeter'}">Rejeter</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="commentaire" class="form-label">Commentaire</label>
                <textarea id="commentaire" th:field="*{commentaire}" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">Employé</label>
                <select id="user" th:field="*{user.id}" class="form-control" disabled="disabled"
                        onfocus="this.removeAttribute('disabled');" onblur="this.setAttribute('disabled', 'disabled');">
                    <option value="" disabled selected>Select an Employee</option>
                    <option th:each="employee : ${employees}" th:value="${employee.id}"
                            th:text="${employee.id} + ' - ' + ${employee.nom} + ' ' + ${employee.prenom}"
                            th:selected="${employee.id == conge.user.id}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Modifier</button>
            <a href="/conges" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
</body>
</html>
