<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{rh-dashboard/layout}">
<head>
    <title>Détails Congé</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <h1>Détails Congé</h1>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <td th:text="${conge.id}"></td>
            </tr>
            <tr>
                <th>Nom de l'Employé</th>
                <td th:text="${conge.user.nom} + ' ' + ${conge.user.prenom}"></td>
            </tr>
            <tr>
                <th>Date Début</th>
                <td th:text="${conge.dateDebut}"></td>
            </tr>
            <tr>
                <th>Date Fin</th>
                <td th:text="${conge.dateFin}"></td>
            </tr>
            <tr>
                <th>Motif</th>
                <td th:text="${conge.motif}"></td>
            </tr>
            <tr>
                <th>Status</th>
                <td th:text="${conge.status}"></td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td th:text="${conge.commentaire}"></td>
            </tr>
        </table>
        <a href="/conges" class="btn btn-secondary">Retourner</a>
    </div>
</div>
</body>
</html>
